{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<div class="mx-auto text-center mt-3">
  <h2>Registro</h2>
  <form method="post">
    {% csrf_token %}

    {% if form.errors and form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {{ form.email.errors }}
    {{ form.phone_number.errors }}
    {{ form.password1.errors }}
    {{ form.password2.errors }}

    <label for="">Nombre</label>
    {{ form.first_name }}
    <br>

    <label for="">Apellido</label>
    {{ form.last_name }}
    <br>

    <label for="">Email</label>
    {{ form.email }}
    <br>

    <label for="">Número de teléfono</label>
    {{ form.phone_number }}
    <br>

    <label for="">Contraseña</label>
    {{ form.password1 }}
    <br>

    <label for="">Confirmar contraseña</label>
    {{ form.password2 }}
    <br>

    {% if form.errors %}
      <div class="alert alert-danger">
        Hubo errores en el formulario. Por favor, corrígelos.
      </div>
    {% endif %}

    <button type="submit" class="btnCard">Registrarse</button>
  </form>
</div>
{% endblock %}