{% load static %}


<footer class="text-center py-3 bg-light mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Redes Sociales -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="https://www.instagram.com/_dinastiasalon/" target="_blank" class="mx-2 nav-link" style="color: black">
              <i class="fa-brands fa-instagram fa-xl" style="color: #000000"></i>
              Instagram
            </a>
            <a href="https://www.tiktok.com/@dinastiasalon_?_r=1&_d=e5j9m6410d3m58&sec_uid=MS4wLjABAAAAXD7lypdmy4Vu-vr7t30XfYEh_jz3S6KfzPSD6NJBTCLDPUS7W8hbziIgqbb7za6b&share_author_id=7257619208459584518&sharer_language=es&source=h5_m&u_code=e941e83ki69hel&ug_btm=b8727,b0&sec_user_id=MS4wLjABAAAAXD7lypdmy4Vu-vr7t30XfYEh_jz3S6KfzPSD6NJBTCLDPUS7W8hbziIgqbb7za6b&utm_source=copy&social_share_type=4&utm_campaign=client_share&utm_medium=ios&tt_from=copy&user_id=7257619208459584518&share_link_id=2978BFB1-E293-456B-AFC4-4174C74AD57C&share_app_id=1233" class="mx-2 nav-link" style="color: black" target="_blank">
              <i class="fa-brands fa-tiktok fa-xl" style="color: #000000"></i>
              TikTok
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- Copyright -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <p class="mt-3">
              <i class="fa-solid fa-copyright" style="color: #000000"></i> 2023 Matias Macagno. Todos los derechos reservados.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
