{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto mb-2 mt-3">
    <div class="row">
        <div class="col-md-4 text-justify mx-auto">
            <p class="text-justify">
                Hola! Somos Dinastia, una barbería ubicada en el corazón de barrio Guadalupe.
                Nos dedicamos a brindarte la mejor experiencia en el rubro peluquería y barbería. <br>
                Nos podes encontrar en Angel Casanello 669, de Lunes a Viernes en horario corrido de 10 a 18hs y Sábados de 9 a 12hs.<br>
                <strong>Solicitá tu turno!</strong>
            </p>
        </div>
        <div class="col-md-6 ">
            <a href="https://www.google.com/maps/dir//dinastia+salon/@-31.6136776,-60.7156614,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95b5aba4b8ebf38b:0x53ca26b6797bce92!2m2!1d-60.6744619!2d-31.6137573?entry=ttu" target="_blank">
                <div id="map">

                </div>
            </a>
        </div>
    </div>
</div>

{% include "services.html" %}
{% endblock content %}

